<h1>Create an Organizer Account</h1>
<%= form_with model: @organizer, url: organizer_registrations_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit "Create Account" %>
<% end %>